*,
* ::before,
* ::after {
    box-sizing: border-box;
}

* {
    line-height: calc(1em + 0.5rem);
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100svh;
}

html {
    color-scheme: dark light;
    hanging-punctuation: first last;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-wrap: balance;
}

input, textarea {
	min-width: 0;
}

input, button, textarea, select {
    font: inherit;
}

p {
    overflow-wrap: break-word;
    text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        /* scroll-padding-top: 3rem; */
    }
}

article > :where(:not(:first-child)) {
    margin-top: 1em;
}